.editable-team-name {
  transition: all 0.3s ease;
}

/* Prevenir desplazamiento horizontal */
body, html {
  max-width: 100%;
  overflow-x: hidden;
}

.voting-bg {
  max-width: 100%;
  overflow-x: hidden;
  
}

.editable-team-name:focus {
  background: rgb(255 255 255 / 30%) !important;
  box-shadow: 0 0 0 2px rgb(255 255 255 / 50%);
}

.editable-team-name::placeholder {
  color: rgb(255 255 255 / 70%);
}