/* src/components/ThemeSwitch.css */
.switch-toggle {
  --toggle-width: 48px;
  --toggle-height: 26px;
  --toggle-pad: 4px;
  --thumb-size: 18px;
  --track-bg: #dbeafe;
  --track-bg-dark: #272839;
  --thumb-bg: #ffd800;
  --thumb-bg-dark: #ffd800;

  display: flex;
  align-items: center;
  position: relative;
  width: var(--toggle-width);
  height: var(--toggle-height);
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  transition: filter 0.12s;
}

.switch-track {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: var(--track-bg);
  transition: background 0.22s;
  box-shadow: 0 0 5px #0001;
}

.switch-toggle.dark .switch-track {
  background: var(--track-bg-dark);
}

.switch-thumb {
  position: absolute;
  left: var(--toggle-pad);
  top: 50%;
  transform: translateY(-50%);
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: var(--thumb-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    left 0.24s cubic-bezier(.6,1.6,.41,.99),
    background 0.2s;
  box-shadow: 0 1px 4px #0001;
}

.switch-toggle.dark .switch-thumb {
  left: calc(100% - var(--thumb-size) - var(--toggle-pad));
  background: var(--thumb-bg-dark);
}
